<div class="meg">
  <div class="message-card">
    <h6>Happy six months!!!</h6>
    <div class="text">
      <p>
        <span>M</span>y Dearest Meg Meg,
      </p>
      <p>
        I could never have dreamt at the beginning of this year that a relationship would
        take me around the world and transform me into the even happier, more carefree and
        confident person I am today. I tell you this all the time but I'm so incredibly lucky to
        have you in my life and that is something I treasure every day.
      </p>
      <p>
        You're the best partner I could ask for, my hardworking, intelligent, kind, hilarious,
        boodiful bubba. You've been with me every step of the way, almost literally, and I
        can honestly barely remember what it was like before you were by my side. I think I
        understand now what people mean when they say "you complete me," because you, Megen, complete me.
      </p>
      <p>
        Thinking about our great memories together puts a big smile on my face, and the thought
        of all the things we have planned for the future makes my smile even wider! I look forward
        to all the concerts and events we'll attend, friends and family we'll see, and all the unexpected
        fun stuff we always encounter along the way. Cause you know, the universe wants us to be
        together too :p
      </p>
      <p>
        So, happy six months - can you believe it's been six months already?! I remember Esta like it was yesterday,
        and I know you remember it even more clearly than me. Let's keep sharing memes and back scratchies for
        years to come. <b>♥</b>
      </p>
      <p>
        With all the love in the world,<br/>
        Your bubba,</br>
        Lawrence 
      </p>
    </div>
  </div>
</div>
