<% content_for :title, "Top Secret Best Game Ever" %>
<div class="row">
	<div class="col-sm-12 col-md-8 col-md-push-2 unselectable">
		<h2 class="center">Best Game Ever</h2>
		<div class="canvas_zone">
			<canvas id="canvas" width= "900" height="500"></canvas>
		</div>
		<p class="center">Click to go up. <br>Don't crash into anything. <br>Don't run out of gas (the block turns clear when you get low). <br>Land on the ground to refuel.</p>
	</div>
</div>

<% content_for :javascript_includes do %>
  <%= javascript_include_tag "easeljs.js" %>
  <%= javascript_include_tag "simplegame.js" %>
<% end %>