@import url(http://fonts.googleapis.com/css?family=Monaco);

.welcometext {
	font-family: "Monaco", monospace, sans-serif;
	padding: 15px;
	color: #FCF8F0;
	font-size: 1.4em;
	text-align: left;
}

h1 {
	color: black;
	font-family: "Book Antiqua", serif;
}

body {
	height: 100%;
	background-color: #fff;
	font-family: "Georgia", serif;
}