body {
	background-color: #fff;
	font-family: "Georgia", serif;
}
footer {
	color: black;
}
h1 {
	color: black;
	font-family: "Book Antiqua", serif;
}
h3 {
	font-family: "Book Antiqua", serif;
}
a {
	color: #2E7FDB;
	&:hover {
		transition: 0.2s;
		text-decoration: none;
		color: white;
		background-color: #1E4D82;
	}
}

.content {
	overflow-x: hidden;
}
.name {
	margin-left: 15%;
}
.description {
	font-size: 1.8em;
	line-height: 1.15em;
}
.bigger {
	font-size: 2em;
}
.midsize {
	font-size: 1.4em;
	line-height: 1.28em;
}
.medium {
	font-size: 0.9em;
	line-height: 1.27em;
}
.small {
	font-size: 0.7em;
	line-height: 1.25em;
}
.shrink {
	font-size: 0.6em;
}
.smaller {
	padding-top: 10px;
	font-size: 0.8em;
	line-height: 1.2em;
}
.tiny {
	font-size: 0.55em;
}
.text-right {
	text-align: right;
}
.text-left {
	text-align: left;
}
.gap {
	padding-top: 20px;
}
.whitespace {
	padding-top: 180px;
}
.block {
	border: 3px solid white !important;
}
.workingtitle {
	text-align: center;
	font-family: "Monaco", monospace, sans-serif;
	font-size: 3em;
}
.wrapper {
  min-height: 460px;
  overflow: hidden;
  height: 100%;
  width: 100%;
  left: 0;
  top: 0;
}
.overblock {
	background-color: #EBBB54;
	background-size: cover;
	padding-bottom: 20px;
	border-bottom: 15px solid #B39149;
}
.colorbar-fin {
	background-color: #8C2B2B;
	height: 30px;
	background-size: cover;
	color: white;
	text-align: center;
}
.leading {
	font-family: "Monaco", monospace, sans-serif;
	padding-top: 10px;
	color: white;
	font-size: 6em;
	text-align: center;
}
.welcometext {
	font-family: "Monaco", monospace, sans-serif;
	padding: 15px;
	color: #FCF8F0;
	font-size: 1.4em;
	text-align: left;
}
.tiny {
	font-size: 12px;
}
.end {
	padding-bottom: 20px;
}
.thagem {
	position: absolute;
	left: -140px;
}
.center {
	text-align: center;
	margin-left: auto;
	margin-right: auto;
}
.faded {
	color: #999;
}
.unselectable {
	-webkit-user-select: none; /* Chrome/Safari */        
	-moz-user-select: none; /* Firefox */
	-ms-user-select: none; /* IE10+ */

	/* Rules below not implemented in browsers yet */
	-o-user-select: none;
	user-select: none;
}
.selfie {
	border: 4px solid;
	border-color: #E8CB8E #E8C884;
}
.lostinspace {
  margin-top: 200px;
	span {
		font-size: 5em;
	}
	color: #fff;
	text-align: center;
	text-transform: uppercase;
	font-size: 1.3em;
	line-height: 1.4em;
	a:hover {
		background: none;
		text-decoration: underline;
		transition: 0;
	}
}