@import url(http://fonts.googleapis.com/css?family=Exo+2:400,400italic,700);

#galactic {
	overflow-x: hidden;
	position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;

	background-color: #131313;
	/*
	background-image:
	radial-gradient(#FAF7ED, rgba(255,255,255,.18) 2px, transparent 30px),
	radial-gradient(#EDF3FA, rgba(255,255,255,.15) 1px, transparent 20px),
	radial-gradient(#FAF5F7, rgba(255,255,255,.1) 2px, transparent 20px),
	radial-gradient(rgba(255,255,255,.4), rgba(255,255,255,.1) 2px, transparent 30px);
	background-size: 550px 550px, 350px 350px, 250px 250px, 150px 150px; 
	background-position: 0 0, 40px 60px, 130px 270px, 70px 100px;
	*/
	font-family: "Exo 2", sans-serif;
	font-size: 30px;
	line-height: 1.31em;
}

.thrust {
	z-index: 20;
	background-color: yellow;
	height: 8px;
	width: 8px;
	border-radius: 8px;
	position: absolute;
}

.star {
	background-color: #F2EEE1;
	height: 3px;
	width: 3px;
	position: absolute;
}

.star1 {
	background-color: #E1EDF2;
	height: 5px;
	width: 5px;
}

.star2 {
	background-color: #F2E6E1;
	height: 4px;
	width: 4px;
}

#spaceship {
	position: absolute;
	top: 40%;
	left: 48%;
	cursor: pointer;
	width: 100px;
	height: 55px;
	z-index: 100;
	background-image: url("wship-0.png");
}

#commandbar {
	border-top: 4px ridge #AAA;
	line-height: 1.2em;
	text-transform: uppercase;
	font-size: 0.6em;
	padding: 5px 20px;
	background: linear-gradient(45deg, #EEE, #AAA);
	position: absolute;
	top: 85%;
	width: 100%;
	height: 15%;
}
