.meg {
  background-image: url(sayagata.png);
  padding: 48px;
}

.message-card {
  &:before {
    background-image: url(meg-1.JPG);
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 12px 12px 0 0;
    content: '';
    display: inline-block;
    width: 100%;
    height: 140px;
    position: relative;
  }

  &:after {
    background-image: url(meg-2.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 0 -40px;
    border-radius: 0 0 12px 12px;
    content: '';
    display: inline-block;
    width: 100%;
    height: 220px;
    position: relative;
    top: 6px;
  }

  h6 {
    font-family: "Helvetica", sans-serif;
    letter-spacing: 2px;
    margin: 12px 0;
    text-transform: uppercase;
    text-align: center;
  }

  background-color: #FAFAFA;
  border-radius: 12px;
  box-shadow: 0px 2px 2px 1px rgba(0, 0, 0, 0.2);
  margin: 0 auto;
  max-width: 600px;

  .text {
    color: #333;
    font-size: 18px;
    line-height: 24px;
    padding: 12px 48px;

    b {
      color: #FF7D95;
    }
  }

  span {
    font-size: 24px;
  }
}

@media (max-width: 660px) {
  .meg {
    padding: 0;
  }

  .message-card, .message-card:before, .message-card:after {
    border-radius: 0;
  }
}
