@import url(http://fonts.googleapis.com/css?family=Scada:700,400);

#hideoverx {
	height: 100%;
	overflow-x: hidden;
	-webkit-overflow-scrolling: touch;
}
#twitnow {
  background: #F7F7F0;
  height: 100%;
	a {
		&:hover {
			background: none;
			text-decoration: underline;
			color: #2E7FDB;
		}
	}
}
#tnlogo {
	font-family: "Scada";
	font-weight: 700;
	padding: 30px;
	font-size: 4em;
	color: #353A3A;
}
.masonryzone {
	transition: 1s;
	border-left: 8px solid #2D86A8;
	height: 100%;
	overflow-y: auto;
	background: #0092CB;
}
#sidecar {
	position: fixed;
	margin-left: 20px;
	form {
		text-align: center;
	}
}
#tndescrip {
	margin-top: 40px;
	padding-top: 30px;
	line-height: 1.5em;
	border-top: 2px solid #DAE9F0;
	font-size: 0.9em;
}
#sortoptions {
	margin-top: 5px;
	text-align: center;
}
.twitsearch {
	border-radius: 2px;
	border: 1px solid #EEE;
	background: #F8F8F8;
	font-weight: 300;
	box-shadow: 0px 3px 3px #EFEFEF inset;
	text-align: center;
	margin-top: -20px;
	font-size: 1.6em;
	height: 60px;
	width: 280px;
}

#masonjar {
	margin-left: 15px;
}
#masonempty {
	text-align: center;
	font-size: 3em;
	font-family: "Scada";
	margin-top: 20%;
	color: #FAFAFA;
}
.mason-item {
	text-align: center;
	background: #FFF;
	border-radius: 4px;
	width: 28%;
	min-height: 120px;
	margin-top: 12px;
	padding: 10px;
}
@media (max-width: 740px) {
	.mason-item {
		width: 45%;
	}
}
.userinfo {
	display: inline;
	color: #777;
	img {
		border-radius: 3px;
	}
	background: #CCC;
}
.t-content {
	margin-top: 5px;
	padding: 5px;
	clear: both;
}
.t-time {
	margin-top: 5px;
	font-size: 0.72em;
	color: #AAA;
}
.sizecontrol {
	box-shadow: 0px 2px 3px #888;
	margin-top: 5px;
	width: 100%;
}
.ld-button-zone {
	margin-top: 10px;

	text-align: center;
}
#more-button {
	font-family: "Scada";
	font-size: 1.5em;
	background: #F2D8D8;
	color: #C96161;
	&:hover {
		color: #E3CCCC;
		background: #A80D0D;
	}
}
.messenger {
	display: none;
}